In [377]:
import numpy as np
import pandas as pd

In [378]:
# read-in world population growth data
un_data = pd.read_csv("API_SP.POP.GROW_DS2_en_csv_v2_9946255.csv",skiprows=3)
#un_data = un_data.set_index("Country Name")
display(un_data)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,Population growth (annual %),SP.POP.GROW,3.148037,2.238144,1.409622,0.832453,0.592649,0.573468,...,0.098616,0.212680,0.376985,0.512145,0.592914,0.587492,0.524658,0.459929,NaN,NaN
1,Afghanistan,AFG,Population growth (annual %),SP.POP.GROW,1.816077,1.876528,1.934999,1.992521,2.049423,2.105369,...,2.569114,2.812617,3.095119,3.272703,3.315224,3.183201,2.943234,2.689163,NaN,NaN
2,Angola,AGO,Population growth (annual %),SP.POP.GROW,1.903517,1.927754,1.945774,1.930693,1.870296,1.788799,...,3.566821,3.570099,3.570352,3.559496,3.531824,3.485413,3.428021,3.367572,NaN,NaN
3,Albania,ALB,Population growth (annual %),SP.POP.GROW,3.015423,3.120855,3.056731,2.953749,2.880686,2.754021,...,-0.673894,-0.496462,-0.269017,-0.165151,-0.183211,-0.207047,-0.291206,-0.159880,NaN,NaN
4,Andorra,AND,Population growth (annual %),SP.POP.GROW,7.050663,6.941532,6.692697,6.559522,6.241511,5.998800,...,0.714106,-0.015393,-0.829969,-1.588653,-2.013314,-1.956178,-1.537836,-0.944017,NaN,NaN
5,Arab World,ARB,Population growth (annual %),SP.POP.GROW,NaN,2.760881,2.775328,2.793528,2.817245,2.842976,...,2.448201,2.402393,2.352527,2.305073,2.248844,2.185197,2.118210,2.045601,NaN,NaN
6,United Arab Emirates,ARE,Population growth (annual %),SP.POP.GROW,5.859584,8.723625,10.681181,11.012721,9.824817,8.196603,...,10.615444,7.587098,4.743700,2.594796,1.181805,0.714763,0.915608,1.251759,NaN,NaN
7,Argentina,ARG,Population growth (annual %),SP.POP.GROW,1.630874,1.606889,1.584309,1.557532,1.524221,1.489544,...,1.027377,1.035037,1.044860,1.050376,1.047277,1.032709,1.009855,0.984742,NaN,NaN
8,Armenia,ARM,Population growth (annual %),SP.POP.GROW,3.596386,3.531702,3.444264,3.330247,3.193727,3.044919,...,-0.677479,-0.391024,-0.060144,0.220269,0.401252,0.438332,0.368528,0.269302,NaN,NaN
9,American Samoa,ASM,Population growth (annual %),SP.POP.GROW,1.403903,2.335966,3.033668,3.558598,3.661243,3.557431,...,-1.418038,-1.054862,-0.571394,-0.162822,0.139320,0.234776,0.180222,0.111575,NaN,NaN
10,Antigua and Barbuda,ATG,Population growth (annual %),SP.POP.GROW,1.121208,1.444191,1.765458,1.992477,2.088042,2.089765,...,1.185659,1.147472,1.111473,1.099255,1.076058,1.068648,1.054346,1.035422,NaN,NaN
11,Australia,AUS,Population growth (annual %),SP.POP.GROW,2.266912,1.989740,2.440639,1.917816,1.962354,1.959717,...,2.061045,1.555490,1.389527,1.785445,1.758338,1.535879,1.464060,1.498210,NaN,NaN
12,Austria,AUT,Population growth (annual %),SP.POP.GROW,0.510799,0.548472,0.612896,0.642363,0.666548,0.649730,...,0.261953,0.240394,0.337081,0.455937,0.584104,0.730867,1.066623,1.132221,NaN,NaN
13,Azerbaijan,AZE,Population growth (annual %),SP.POP.GROW,3.316315,3.405043,3.441193,3.386928,3.227913,3.004238,...,2.076148,1.189788,1.303001,1.328764,1.293447,1.248209,1.191210,1.117857,NaN,NaN
14,Burundi,BDI,Population growth (annual %),SP.POP.GROW,1.945067,1.904152,1.883881,1.925484,2.044533,2.201433,...,3.314621,3.221183,3.106046,3.008436,2.965096,2.992265,3.061103,3.135333,NaN,NaN
15,Belgium,BEL,Population growth (annual %),SP.POP.GROW,0.657711,0.332206,0.398055,0.747607,0.946478,0.908137,...,0.804600,0.913639,1.386849,0.726032,0.489184,0.234371,0.579446,0.568532,NaN,NaN
16,Benin,BEN,Population growth (annual %),SP.POP.GROW,1.303687,1.398495,1.490499,1.584058,1.680971,1.778052,...,2.809337,2.806109,2.803422,2.797040,2.790253,2.782287,2.772978,2.763534,NaN,NaN
17,Burkina Faso,BFA,Population growth (annual %),SP.POP.GROW,1.359523,1.342943,1.334299,1.351523,1.403618,1.479135,...,3.026450,3.019245,3.008938,2.997255,2.981483,2.961978,2.939690,2.915614,NaN,NaN
18,Bangladesh,BGD,Population growth (annual %),SP.POP.GROW,2.845730,2.849193,2.857068,2.901407,2.994149,3.101175,...,1.101990,1.119888,1.151949,1.172435,1.177319,1.157188,1.120144,1.080165,NaN,NaN
19,Bulgaria,BGR,Population growth (annual %),SP.POP.GROW,0.952937,0.958156,0.875259,0.810378,0.816094,0.731911,...,-0.644281,-0.658275,-0.641229,-0.579221,-0.559647,-0.568389,-0.638069,-0.701382,NaN,NaN
20,Bahrain,BHR,Population growth (annual %),SP.POP.GROW,3.540426,3.310416,3.079079,2.844614,2.629872,2.454230,...,6.128062,4.603905,2.970052,1.702435,1.161799,1.582802,2.618665,3.812797,NaN,NaN
21,"Bahamas, The",BHS,Population growth (annual %),SP.POP.GROW,4.790266,4.969059,5.060544,5.032944,4.877782,4.644454,...,1.756895,1.670040,1.577157,1.481464,1.388290,1.298133,1.214308,1.129473,NaN,NaN
22,Bosnia and Herzegovina,BIH,Population growth (annual %),SP.POP.GROW,1.892666,1.932249,1.946032,1.900808,1.781252,1.615087,...,-0.453733,-0.655463,-0.896490,-1.108493,-1.191240,-1.087641,-0.845996,-0.542908,NaN,NaN
23,Belarus,BLR,Population growth (annual %),SP.POP.GROW,0.977388,0.889131,0.971087,1.016188,1.025770,1.001233,...,-0.222961,-0.170361,-0.183624,-0.091637,0.015869,0.089903,0.159301,0.125511,NaN,NaN
24,Belize,BLZ,Population growth (annual %),SP.POP.GROW,2.835710,2.826169,2.791625,2.814692,2.858982,2.916244,...,2.504267,2.416657,2.330775,2.255413,2.197239,2.159380,2.136282,2.111220,NaN,NaN
25,Bermuda,BMU,Population growth (annual %),SP.POP.GROW,1.360606,2.477477,2.417582,2.360515,2.515723,2.453988,...,0.556126,-0.780060,-0.859898,0.362431,0.313281,0.212304,0.170405,0.193103,NaN,NaN
26,Bolivia,BOL,Population growth (annual %),SP.POP.GROW,1.899198,1.913748,1.927848,1.942861,1.960071,1.978196,...,1.641612,1.621157,1.601318,1.581549,1.562684,1.544652,1.527225,1.510047,NaN,NaN
27,Brazil,BRA,Population growth (annual %),SP.POP.GROW,2.895857,2.926272,2.944039,2.935051,2.893086,2.829378,...,0.988454,0.970296,0.956013,0.938920,0.917023,0.887563,0.852799,0.817556,NaN,NaN
28,Barbados,BRB,Population growth (annual %),SP.POP.GROW,0.255806,0.319487,0.391157,0.429455,0.410140,0.351974,...,0.414187,0.393880,0.368460,0.350062,0.327605,0.309599,0.293163,0.273711,NaN,NaN
29,Brunei Darussalam,BRN,Population growth (annual %),SP.POP.GROW,4.793482,4.603391,4.477883,4.435656,4.464131,4.571557,...,1.184773,1.266145,1.367383,1.445044,1.481906,1.465124,1.408049,1.345029,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Latin America & the Caribbean (IDA & IBRD coun...,TLA,Population growth (annual %),SP.POP.GROW,NaN,2.818179,2.825262,2.817722,2.792543,2.755422,...,1.266713,1.242578,1.218160,1.194523,1.168787,1.140712,1.110923,1.080345,NaN,NaN
235,Timor-Leste,TLS,Population growth (annual %),SP.POP.GROW,1.720283,1.763536,1.803833,1.843901,1.883992,1.921231,...,1.282060,1.596137,1.957303,2.205848,2.358462,2.373567,2.295569,2.207092,NaN,NaN
236,Middle East & North Africa (IDA & IBRD countries),TMN,Population growth (annual %),SP.POP.GROW,NaN,2.678631,2.676427,2.682782,2.700735,2.724247,...,1.829205,1.836704,1.846016,1.850813,1.837212,1.800939,1.750039,1.691423,NaN,NaN
237,Tonga,TON,Population growth (annual %),SP.POP.GROW,2.845245,3.421265,3.868056,4.060766,3.910645,3.565965,...,0.579841,0.513140,0.421630,0.356993,0.358572,0.430108,0.548680,0.710120,NaN,NaN
238,South Asia (IDA & IBRD),TSA,Population growth (annual %),SP.POP.GROW,NaN,2.108723,2.144198,2.175983,2.203970,2.228436,...,1.470932,1.439535,1.409844,1.379665,1.353617,1.326264,1.298149,1.272433,NaN,NaN
239,Sub-Saharan Africa (IDA & IBRD countries),TSS,Population growth (annual %),SP.POP.GROW,NaN,2.372225,2.409552,2.443646,2.473750,2.501111,...,2.766432,2.772365,2.775840,2.777187,2.771639,2.758781,2.740719,2.720355,NaN,NaN
240,Trinidad and Tobago,TTO,Population growth (annual %),SP.POP.GROW,2.263549,1.970027,1.680244,1.415578,1.192323,1.007007,...,0.473723,0.489261,0.502313,0.508151,0.495198,0.462124,0.412513,0.357424,NaN,NaN
241,Tunisia,TUN,Population growth (annual %),SP.POP.GROW,1.273002,1.418701,1.573834,1.716618,1.832820,1.926503,...,1.094158,1.116147,1.135788,1.156704,1.167893,1.167513,1.157614,1.142911,NaN,NaN
242,Turkey,TUR,Population growth (annual %),SP.POP.GROW,2.445584,2.425762,2.407683,2.393834,2.385335,2.380924,...,1.268402,1.375056,1.485643,1.568376,1.619467,1.627194,1.598009,1.573012,NaN,NaN
243,Tuvalu,TUV,Population growth (annual %),SP.POP.GROW,2.018933,2.299696,2.263650,2.305355,2.208530,1.940945,...,0.972049,0.858293,0.916874,0.908544,0.872638,0.819262,0.848971,0.868862,NaN,NaN
244,Tanzania,TZA,Population growth (annual %),SP.POP.GROW,2.894983,2.923647,2.949385,2.969345,2.982472,2.992332,...,3.171010,3.160941,3.143889,3.129141,3.116185,3.107572,3.100829,3.092454,NaN,NaN
245,Uganda,UGA,Population growth (annual %),SP.POP.GROW,3.037759,3.166940,3.278797,3.358024,3.397666,3.403791,...,3.439418,3.429003,3.415883,3.398480,3.376766,3.350650,3.321556,3.290872,NaN,NaN
246,Ukraine,UKR,Population growth (annual %),SP.POP.GROW,1.254451,1.261255,1.255486,1.218682,1.141518,1.038489,...,-0.443932,-0.397285,-0.359480,-0.247099,-0.227705,-0.479616,-0.260806,-0.331381,NaN,NaN
247,Upper middle income,UMC,Population growth (annual %),SP.POP.GROW,NaN,0.390332,1.449802,2.384555,2.300796,2.324726,...,0.739477,0.733982,0.741677,0.767561,0.776514,0.775232,0.756839,0.754159,NaN,NaN
248,Uruguay,URY,Population growth (annual %),SP.POP.GROW,1.333812,1.293043,1.244206,1.192681,1.141825,1.087600,...,0.355429,0.346140,0.331626,0.328881,0.330004,0.338072,0.350484,0.362269,NaN,NaN
249,United States,USA,Population growth (annual %),SP.POP.GROW,1.701993,1.657730,1.537997,1.439165,1.389046,1.250172,...,0.876651,0.836422,0.745614,0.746420,0.700262,0.743124,0.729732,0.692801,NaN,NaN
250,Uzbekistan,UZB,Population growth (annual %),SP.POP.GROW,3.280758,3.311496,3.346521,3.401222,3.479350,3.559889,...,1.687341,2.822850,2.684016,1.472100,1.561904,1.686900,1.744258,1.738849,NaN,NaN
251,St. Vincent and the Grenadines,VCT,Population growth (annual %),SP.POP.GROW,1.657913,1.463013,1.287000,1.148346,1.065977,1.053571,...,0.080579,0.056733,0.023782,-0.011890,-0.007318,0.033840,0.089575,0.171613,NaN,NaN
252,"Venezuela, RB",VEN,Population growth (annual %),SP.POP.GROW,3.750555,3.791735,3.813339,3.792220,3.718496,3.610993,...,1.571087,1.529865,1.488310,1.448190,1.410957,1.377539,1.346708,1.317057,NaN,NaN
253,British Virgin Islands,VGB,Population growth (annual %),SP.POP.GROW,1.265285,1.507318,1.738329,1.838858,2.049372,2.144455,...,3.239414,2.895621,2.456359,2.155730,1.900518,1.814387,1.758810,1.803452,NaN,NaN
254,Virgin Islands (U.S.),VIR,Population growth (annual %),SP.POP.GROW,4.725288,5.390526,2.020271,12.851885,2.481517,6.407886,...,0.005535,-0.043365,-0.060928,-0.093310,-0.135963,-0.148198,-0.161415,-0.185856,NaN,NaN
255,Vietnam,VNM,Population growth (annual %),SP.POP.GROW,3.020929,3.003488,2.977189,2.948605,2.921171,2.891446,...,0.984217,1.030588,1.083858,1.128752,1.149610,1.137999,1.103247,1.060392,NaN,NaN
256,Vanuatu,VUT,Population growth (annual %),SP.POP.GROW,3.036259,3.112791,3.138341,3.130064,3.050309,2.947898,...,2.387617,2.359448,2.332350,2.294545,2.260062,2.229815,2.198185,2.167915,NaN,NaN
257,World,WLD,Population growth (annual %),SP.POP.GROW,NaN,1.359037,1.729087,2.087843,2.057572,2.059444,...,1.230668,1.216246,1.184470,1.205276,1.204717,1.199008,1.184693,1.177832,NaN,NaN
258,Samoa,WSM,Population growth (annual %),SP.POP.GROW,3.052203,3.146592,3.220013,3.206577,3.123157,2.966411,...,0.705850,0.743338,0.781024,0.811449,0.822742,0.800428,0.761047,0.702526,NaN,NaN
259,Kosovo,XKX,Population growth (annual %),SP.POP.GROW,2.026736,1.986474,2.857337,2.777956,2.702867,2.631731,...,0.803172,0.803249,0.859067,0.789727,1.041533,-0.126169,-1.103886,0.796024,NaN,NaN
260,"Yemen, Rep.",YEM,Population growth (annual %),SP.POP.GROW,1.668753,1.694071,1.720650,1.746020,1.770406,1.793275,...,2.729135,2.713034,2.697367,2.676050,2.639892,2.585905,2.520254,2.451502,NaN,NaN
261,South Africa,ZAF,Population growth (annual %),SP.POP.GROW,2.593165,2.622255,2.648309,2.668551,2.681810,2.690160,...,1.102147,1.197113,1.307414,1.395966,1.440907,1.425925,1.368770,1.301374,NaN,NaN
262,Zambia,ZMB,Population growth (annual %),SP.POP.GROW,3.012665,3.085655,3.144761,3.175555,3.171658,3.149049,...,2.817933,2.883152,2.950426,3.005133,3.036918,3.040211,3.024123,3.002816,NaN,NaN
263,Zimbabwe,ZWE,Population growth (annual %),SP.POP.GROW,3.199877,3.239584,3.269926,3.279540,3.263725,3.234102,...,1.842497,1.976756,2.109672,2.228306,2.309366,2.344799,2.345643,2.336070,NaN,NaN

In [379]:
# isolate china's population growth (1960-2016)
china_popg = un_data.loc[un_data["Country Name"] == "China"]
china_popg.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
38,China,CHN,Population growth (annual %),SP.POP.GROW,1.832868,-1.015528,0.820456,2.457647,2.320683,2.381368,...,0.497381,0.48296,0.47915,0.487231,0.49371,0.506312,0.508137,0.541479,NaN,NaN

In [380]:
pop_a = china_popg.iloc[:,4:23]
display(pop_a["1960"])

38    1.832868
Name: 1960, dtype: float64

In [381]:
pop_b = china_popg.iloc[:,23:len(china_popg.columns)-2]
pop_b.index = [0]
display(pop_b.index)

Int64Index([0], dtype='int64')

In [382]:
# add 1941 to 1959 population data to pop_a
old_pop_data = np.array([520843000,524139000,527456000,530795000,534154000,537534000,540936000,544359000,547804000,541670000,556613000,563000000,574820000,587960000,602660000,614479000,627393000,640629000,654159000,667964000])
#years = ["1941","1942","1943","1944","1945",1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959]

years = list(range(1941,1960))
years = [str(i) for i in years]
def calc_pop_growth_rate(np_array):
    return [((y-x)/x)*100 for x,y in zip(np_array,np_array[1:])]

new_pop_data = calc_pop_growth_rate(old_pop_data)
print(years)

['1941', '1942', '1943', '1944', '1945', '1946', '1947', '1948', '1949', '1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959']

In [383]:
new_pop_data = np.array(new_pop_data)
df_pop_data_a = pd.DataFrame(new_pop_data.reshape(-1,len(new_pop_data)),columns=years)
df_pop_data_a["1960"] = pop_a["1960"].values
# merge pop_a with df_pop_data_a
pop_a = pd.merge(pop_a,df_pop_data_a).sort_index(axis=1)
display(pop_a.index)

Int64Index([0], dtype='int64')

In [384]:
# read-in GDP per capita data
gdp_data = pd.read_csv("average-real-gdp-per-capita-across-countries-and-regions.csv")
display(gdp_data)

,Entity,Code,Year,"Real GDP per capita in 2011US$, multiple benchmarks (Maddison Project Database (2018)) ($)"
0,Afghanistan,AFG,1950,2392
1,Afghanistan,AFG,1951,2422
2,Afghanistan,AFG,1952,2462
3,Afghanistan,AFG,1953,2568
4,Afghanistan,AFG,1954,2576
5,Afghanistan,AFG,1955,2579
6,Afghanistan,AFG,1956,2644
7,Afghanistan,AFG,1957,2593
8,Afghanistan,AFG,1958,2684
9,Afghanistan,AFG,1959,2705
10,Afghanistan,AFG,1960,2744
11,Afghanistan,AFG,1961,2708
12,Afghanistan,AFG,1962,2695
13,Afghanistan,AFG,1963,2683
14,Afghanistan,AFG,1964,2673
15,Afghanistan,AFG,1965,2670
16,Afghanistan,AFG,1966,2633
17,Afghanistan,AFG,1967,2642
18,Afghanistan,AFG,1968,2670
19,Afghanistan,AFG,1969,2646
20,Afghanistan,AFG,1970,2632
21,Afghanistan,AFG,1971,2560
22,Afghanistan,AFG,1972,2086
23,Afghanistan,AFG,1973,2091
24,Afghanistan,AFG,1974,2149
25,Afghanistan,AFG,1975,2225
26,Afghanistan,AFG,1976,2286
27,Afghanistan,AFG,1977,2116
28,Afghanistan,AFG,1978,2215
29,Afghanistan,AFG,1979,2118
...,...,...,...,...
18172,Zimbabwe,ZWE,1987,3243
18173,Zimbabwe,ZWE,1988,3340
18174,Zimbabwe,ZWE,1989,3369
18175,Zimbabwe,ZWE,1990,3265
18176,Zimbabwe,ZWE,1991,3280
18177,Zimbabwe,ZWE,1992,2845
18178,Zimbabwe,ZWE,1993,2749
18179,Zimbabwe,ZWE,1994,2913
18180,Zimbabwe,ZWE,1995,2841
18181,Zimbabwe,ZWE,1996,3032
18182,Zimbabwe,ZWE,1997,3013
18183,Zimbabwe,ZWE,1998,3006
18184,Zimbabwe,ZWE,1999,2889
18185,Zimbabwe,ZWE,2000,2696
18186,Zimbabwe,ZWE,2001,2624
18187,Zimbabwe,ZWE,2002,2376
18188,Zimbabwe,ZWE,2003,1958
18189,Zimbabwe,ZWE,2004,1813
18190,Zimbabwe,ZWE,2005,1660
18191,Zimbabwe,ZWE,2006,1587
18192,Zimbabwe,ZWE,2007,1522
18193,Zimbabwe,ZWE,2008,1260
18194,Zimbabwe,ZWE,2009,1329
18195,Zimbabwe,ZWE,2010,1425
18196,Zimbabwe,ZWE,2011,1515
18197,Zimbabwe,ZWE,2012,1623
18198,Zimbabwe,ZWE,2013,1801
18199,Zimbabwe,ZWE,2014,1797
18200,Zimbabwe,ZWE,2015,1759
18201,Zimbabwe,ZWE,2016,1729

In [385]:
# isolate china's GDP
china_gdp = gdp_data.loc[gdp_data["Entity"] == "China"]
china_gdp = china_gdp.rename(columns={"Real GDP per capita in 2011US$, multiple benchmarks (Maddison Project Database (2018)) ($)":"Real GDP per capita"})
display(china_gdp)

     Entity Code  Year  Real GDP per capita
2685  China  CHN  1661                  940
2686  China  CHN  1766                  686
2687  China  CHN  1812                  624
2688  China  CHN  1820                  741
2689  China  CHN  1825                  716
2690  China  CHN  1850                  643
2691  China  CHN  1870                  751
2692  China  CHN  1887                  760
2693  China  CHN  1890                  810
2694  China  CHN  1900                  840
2695  China  CHN  1911                  804
2696  China  CHN  1912                  842
2697  China  CHN  1913                  881
2698  China  CHN  1929                  950
2699  China  CHN  1930                  962
2700  China  CHN  1931                  968
2701  China  CHN  1932                  994
2702  China  CHN  1933                  886
2703  China  CHN  1934                  902
2704  China  CHN  1935                  973
2705  China  CHN  1936                 1028
2706  China  CHN  1937                  997
2707  China  CHN  1938                  965
2708  China  CHN  1950                  757
2709  China  CHN  1951                  899
2710  China  CHN  1952                  989
2711  China  CHN  1953                 1098
2712  China  CHN  1954                  989
2713  China  CHN  1955                 1062
2714  China  CHN  1956                 1101
...     ...  ...   ...                  ...
2745  China  CHN  1987                 2510
2746  China  CHN  1988                 2571
2747  China  CHN  1989                 2509
2748  China  CHN  1990                 2460
2749  China  CHN  1991                 2550
2750  China  CHN  1992                 2731
2751  China  CHN  1993                 2997
2752  China  CHN  1994                 3135
2753  China  CHN  1995                 3302
2754  China  CHN  1996                 3494
2755  China  CHN  1997                 3540
2756  China  CHN  1998                 3554
2757  China  CHN  1999                 3765
2758  China  CHN  2000                 4071
2759  China  CHN  2001                 4400
2760  China  CHN  2002                 4793
2761  China  CHN  2003                 5122
2762  China  CHN  2004                 5595
2763  China  CHN  2005                 6338
2764  China  CHN  2006                 6937
2765  China  CHN  2007                 7482
2766  China  CHN  2008                 7741
2767  China  CHN  2009                 8394
2768  China  CHN  2010                 9475
2769  China  CHN  2011                10221
2770  China  CHN  2012                10654
2771  China  CHN  2013                11088
2772  China  CHN  2014                11708
2773  China  CHN  2015                12002
2774  China  CHN  2016                12320

[90 rows x 4 columns]

In [386]:
gdp_a = pd.DataFrame(columns=["Year","Avg Real GDP per capita"])
gdp_a["Year"] = pd.Series([str(i) for i in list(range(1941,1979))])
gdp_a["Avg Real GDP per capita"]= pd.Series(china_gdp.loc[((china_gdp["Year"] < 1979) & (china_gdp["Year"] > 1940)),"Real GDP per capita"].values)
gdp_a["Avg Real GDP per capita"] = gdp_a["Avg Real GDP per capita"].shift(9)
gdp_a["Avg Real GDP per capita"].fillna((china_gdp.loc[(china_gdp["Year"]<1940)&(china_gdp["Year"]>1928),"Real GDP per capita"].values.mean()),inplace=True)
display(gdp_a)

    Year  Avg Real GDP per capita
0   1941                    962.5
1   1942                    962.5
2   1943                    962.5
3   1944                    962.5
4   1945                    962.5
5   1946                    962.5
6   1947                    962.5
7   1948                    962.5
8   1949                    962.5
9   1950                    757.0
10  1951                    899.0
11  1952                    989.0
12  1953                   1098.0
13  1954                    989.0
14  1955                   1062.0
15  1956                   1101.0
16  1957                   1103.0
17  1958                   1073.0
18  1959                    988.0
19  1960                    923.0
20  1961                    799.0
21  1962                    866.0
22  1963                    950.0
23  1964                   1050.0
24  1965                   1134.0
25  1966                   1147.0
26  1967                   1151.0
27  1968                   1093.0
28  1969                   1172.0
29  1970                   1291.0
30  1971                   1355.0
31  1972                   1307.0
32  1973                   1372.0
33  1974                   1378.0
34  1975                   1425.0
35  1976                   1384.0
36  1977                   1413.0
37  1978                   1583.0

In [387]:
gdp_b = pd.DataFrame(columns=["Year","Avg Real GDP per capita"])
gdp_b["Year"] = pd.Series([str(i) for i in list(range(1979,2017))])
gdp_b["Avg Real GDP per capita"]= pd.Series(china_gdp.loc[china_gdp["Year"] >= 1979,"Real GDP per capita"].values)
#gdp_b.index = [0]
display(gdp_b)

    Year  Avg Real GDP per capita
0   1979                     1648
1   1980                     1690
2   1981                     1675
3   1982                     1826
4   1983                     1907
5   1984                     2120
6   1985                     2310
7   1986                     2409
8   1987                     2510
9   1988                     2571
10  1989                     2509
11  1990                     2460
12  1991                     2550
13  1992                     2731
14  1993                     2997
15  1994                     3135
16  1995                     3302
17  1996                     3494
18  1997                     3540
19  1998                     3554
20  1999                     3765
21  2000                     4071
22  2001                     4400
23  2002                     4793
24  2003                     5122
25  2004                     5595
26  2005                     6338
27  2006                     6937
28  2007                     7482
29  2008                     7741
30  2009                     8394
31  2010                     9475
32  2011                    10221
33  2012                    10654
34  2013                    11088
35  2014                    11708
36  2015                    12002
37  2016                    12320

In [388]:
# change headers into column (population growth)
def new_df(old_df,col_title):
    new_df = pd.DataFrame(columns=[col_title])
    new_df[col_title] = old_df.loc[0]
    new_df.reset_index(inplace=True)
    new_df = new_df.rename(columns={"index":"Year"})
    return new_df

In [389]:
# china's pop growth A
china_popg_a = new_df(pop_a,"Population Annual % Growth")
# china's pop growth B
china_popg_b = new_df(pop_b,"Population Annual % Growth")
display(china_popg_a)

    Year  Population Annual % Growth
0   1941                    0.632820
1   1942                    0.632847
2   1943                    0.633039
3   1944                    0.632824
4   1945                    0.632776
5   1946                    0.632890
6   1947                    0.632792
7   1948                    0.632854
8   1949                   -1.119744
9   1950                    2.758691
10  1951                    1.147476
11  1952                    2.099467
12  1953                    2.285933
13  1954                    2.500170
14  1955                    1.961139
15  1956                    2.101618
16  1957                    2.109682
17  1958                    2.111987
18  1959                    2.110343
19  1960                    1.832868
20  1961                   -1.015528
21  1962                    0.820456
22  1963                    2.457647
23  1964                    2.320683
24  1965                    2.381368
25  1966                    2.787332
26  1967                    2.570698
27  1968                    2.610903
28  1969                    2.740002
29  1970                    2.761676
30  1971                    2.746916
31  1972                    2.457357
32  1973                    2.283395
33  1974                    2.065955
34  1975                    1.766392
35  1976                    1.547338
36  1977                    1.362779
37  1978                    1.338182

In [390]:
# merge GDP & Population Growth data
# Group A
china_grp_a = pd.merge(china_popg_a,gdp_a)
# fill N/A value in GDP w/ https://en.wikipedia.org/wiki/Historical_GDP_of_China (1960 --> 8.0 % GDP annual growth)
#china_grp_a = china_grp_a.fillna(8)
display(china_grp_a)

    Year  Population Annual % Growth  Avg Real GDP per capita
0   1941                    0.632820                    962.5
1   1942                    0.632847                    962.5
2   1943                    0.633039                    962.5
3   1944                    0.632824                    962.5
4   1945                    0.632776                    962.5
5   1946                    0.632890                    962.5
6   1947                    0.632792                    962.5
7   1948                    0.632854                    962.5
8   1949                   -1.119744                    962.5
9   1950                    2.758691                    757.0
10  1951                    1.147476                    899.0
11  1952                    2.099467                    989.0
12  1953                    2.285933                   1098.0
13  1954                    2.500170                    989.0
14  1955                    1.961139                   1062.0
15  1956                    2.101618                   1101.0
16  1957                    2.109682                   1103.0
17  1958                    2.111987                   1073.0
18  1959                    2.110343                    988.0
19  1960                    1.832868                    923.0
20  1961                   -1.015528                    799.0
21  1962                    0.820456                    866.0
22  1963                    2.457647                    950.0
23  1964                    2.320683                   1050.0
24  1965                    2.381368                   1134.0
25  1966                    2.787332                   1147.0
26  1967                    2.570698                   1151.0
27  1968                    2.610903                   1093.0
28  1969                    2.740002                   1172.0
29  1970                    2.761676                   1291.0
30  1971                    2.746916                   1355.0
31  1972                    2.457357                   1307.0
32  1973                    2.283395                   1372.0
33  1974                    2.065955                   1378.0
34  1975                    1.766392                   1425.0
35  1976                    1.547338                   1384.0
36  1977                    1.362779                   1413.0
37  1978                    1.338182                   1583.0

In [391]:
# Group B
china_grp_b = pd.merge(china_popg_b,gdp_b)
display(china_grp_b)

    Year  Population Annual % Growth  Avg Real GDP per capita
0   1979                    1.333928                     1648
1   1980                    1.254221                     1690
2   1981                    1.280952                     1675
3   1982                    1.472675                     1826
4   1983                    1.444950                     1907
5   1984                    1.312069                     2120
6   1985                    1.361699                     2310
7   1986                    1.487399                     2409
8   1987                    1.603605                     2510
9   1988                    1.610071                     2571
10  1989                    1.533170                     2509
11  1990                    1.467303                     2460
12  1991                    1.364434                     2550
13  1992                    1.225536                     2731
14  1993                    1.149619                     2997
15  1994                    1.130261                     3135
16  1995                    1.086509                     3302
17  1996                    1.048142                     3494
18  1997                    1.023450                     3540
19  1998                    0.959550                     3554
20  1999                    0.865851                     3765
21  2000                    0.787957                     4071
22  2001                    0.726381                     4400
23  2002                    0.670000                     4793
24  2003                    0.622861                     5122
25  2004                    0.593933                     5595
26  2005                    0.588125                     6338
27  2006                    0.558374                     6937
28  2007                    0.522272                     7482
29  2008                    0.512387                     7741
30  2009                    0.497381                     8394
31  2010                    0.482960                     9475
32  2011                    0.479150                    10221
33  2012                    0.487231                    10654
34  2013                    0.493710                    11088
35  2014                    0.506312                    11708
36  2015                    0.508137                    12002
37  2016                    0.541479                    12320

In [392]:
# add china's female population data (% of total population), for gender equity analysis (found evidence to suggest on child policy caused a gender imbalance with more male than females due to cultural beliefs & practices)
fpop_data = pd.read_csv("API_SP.POP.TOTL.FE.ZS_DS2_en_csv_v2_9945099.csv",skiprows=3)
display(fpop_data)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,50.979560,50.965112,50.965608,50.986790,51.012643,51.024286,...,52.351428,52.328727,52.329626,52.352265,52.390182,52.427792,52.465521,52.491485,NaN,NaN
1,Afghanistan,AFG,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,48.319478,48.410528,48.495956,48.575984,48.650651,48.720199,...,48.585399,48.624769,48.618924,48.580245,48.526495,48.480010,48.454558,48.452199,NaN,NaN
2,Angola,AGO,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,51.400033,51.391111,51.381701,51.372003,51.362082,51.351991,...,51.089395,51.075992,51.060279,51.042819,51.024708,51.007153,50.991010,50.976371,NaN,NaN
3,Albania,ALB,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,48.520346,48.518182,48.519116,48.520831,48.522052,48.521408,...,49.871770,49.825320,49.766510,49.692691,49.616509,49.553475,49.514599,49.504843,NaN,NaN
4,Andorra,AND,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Arab World,ARB,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,49.636810,49.634113,49.633242,49.633592,49.634372,49.634755,...,48.447424,48.388146,48.342785,48.309769,48.285454,48.264802,48.244644,48.223828,NaN,NaN
6,United Arab Emirates,ARE,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,49.958979,48.292852,46.194884,44.173230,42.570977,41.415498,...,25.785200,25.502044,25.498811,25.704970,26.057068,26.467992,26.868044,27.238978,NaN,NaN
7,Argentina,ARG,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,49.216883,49.279130,49.343719,49.409731,49.475859,49.541154,...,51.087799,51.087116,51.085087,51.081930,51.077857,51.073108,51.067922,51.062336,NaN,NaN
8,Armenia,ARM,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,51.817282,51.735800,51.655569,51.577557,51.503799,51.435639,...,53.182630,53.207999,53.197853,53.159407,53.104288,53.049462,53.007160,52.979964,NaN,NaN
9,American Samoa,ASM,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Antigua and Barbuda,ATG,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,52.898341,53.029196,52.962691,52.796555,52.616284,52.465947,...,52.049246,52.070700,52.074431,52.064732,52.045468,52.035439,52.024498,52.008122,NaN,NaN
11,Australia,AUS,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,49.482167,49.513792,49.547270,49.580583,49.611312,49.638094,...,49.993843,49.993755,50.013570,50.048962,50.091874,50.131461,50.160310,50.176458,NaN,NaN
12,Austria,AUT,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,53.419237,53.388536,53.354317,53.317150,53.278053,53.237769,...,51.298692,51.264342,51.224660,51.180274,51.133643,51.087827,51.044856,51.005379,NaN,NaN
13,Azerbaijan,AZE,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,52.168714,52.063159,51.959460,51.859957,51.767118,51.681955,...,50.505467,50.455496,50.405357,50.356603,50.310949,50.270461,50.236465,50.209308,NaN,NaN
14,Burundi,BDI,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,51.728743,51.691582,51.655614,51.619685,51.583499,51.547058,...,50.888381,50.895398,50.892758,50.882088,50.865676,50.846545,50.827133,50.807635,NaN,NaN
15,Belgium,BEL,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,50.799919,50.815335,50.833426,50.853211,50.873359,50.892995,...,50.894364,50.890473,50.892325,50.898128,50.899094,50.883631,50.844544,50.778069,NaN,NaN
16,Benin,BEN,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,52.432846,52.369493,52.307986,52.248252,52.190888,52.136428,...,50.358776,50.334734,50.304509,50.270023,50.233916,50.199417,50.168770,50.142274,NaN,NaN
17,Burkina Faso,BFA,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,49.102590,49.236176,49.370727,49.503452,49.630086,49.747917,...,50.464392,50.416441,50.370028,50.325230,50.282225,50.241042,50.201738,50.164401,NaN,NaN
18,Bangladesh,BGD,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,48.315344,48.366645,48.420665,48.474730,48.525335,48.570302,...,49.369870,49.430481,49.472136,49.498131,49.513423,49.525420,49.539377,49.556233,NaN,NaN
19,Bulgaria,BGR,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,50.071872,50.060679,50.048535,50.036357,50.025503,50.016783,...,51.313172,51.312003,51.317763,51.329668,51.345308,51.361002,51.373702,51.382692,NaN,NaN
20,Bahrain,BHR,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,46.461531,46.206350,45.891764,45.581053,45.366563,45.294293,...,37.757651,37.619936,37.704329,37.958213,38.248936,38.393583,38.276483,37.870350,NaN,NaN
21,"Bahamas, The",BHS,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,52.172246,51.932617,51.714512,51.510630,51.312276,51.124217,...,51.127218,51.116044,51.101842,51.087255,51.074417,51.062611,51.052120,51.042859,NaN,NaN
22,Bosnia and Herzegovina,BIH,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,50.943496,50.882244,50.820165,50.764768,50.725870,50.708954,...,50.881621,50.887488,50.894963,50.903528,50.911706,50.917192,50.918578,50.915033,NaN,NaN
23,Belarus,BLR,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,54.792548,54.693825,54.599826,54.511158,54.428315,54.351515,...,53.496034,53.515999,53.522634,53.516760,53.503047,53.487806,53.475990,53.469116,NaN,NaN
24,Belize,BLZ,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,50.620194,50.585005,50.548300,50.513652,50.491418,50.461741,...,49.936768,49.979789,50.020049,50.055538,50.087597,50.118994,50.149602,50.180404,NaN,NaN
25,Bermuda,BMU,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Bolivia,BOL,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,50.462617,50.437684,50.412092,50.386097,50.360061,50.334043,...,49.880143,49.885564,49.891867,49.898872,49.906411,49.914241,49.922063,49.929807,NaN,NaN
27,Brazil,BRA,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,50.210090,50.196293,50.184220,50.174303,50.166982,50.162496,...,50.728260,50.745044,50.761406,50.777391,50.793086,50.808626,50.824106,50.839535,NaN,NaN
28,Barbados,BRB,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,55.199754,55.105644,54.891482,54.600174,54.291659,54.011131,...,52.009021,52.016325,52.025674,52.040215,52.052826,52.070254,52.086852,52.105139,NaN,NaN
29,Brunei Darussalam,BRN,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,48.398146,48.405262,48.413833,48.416710,48.418084,48.419347,...,48.436958,48.370414,48.345956,48.360814,48.400629,48.445736,48.484718,48.511679,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Latin America & the Caribbean (IDA & IBRD coun...,TLA,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,50.058090,50.057999,50.058399,50.059240,50.060456,50.061999,...,50.517372,50.524390,50.531157,50.537753,50.544264,50.550813,50.557478,50.564260,NaN,NaN
235,Timor-Leste,TLS,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,49.253916,49.248393,49.242439,49.237142,49.231573,49.227323,...,49.234951,49.221603,49.214331,49.212372,49.213968,49.215958,49.217234,49.218116,NaN,NaN
236,Middle East & North Africa (IDA & IBRD countries),TMN,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,49.392459,49.392004,49.395788,49.401983,49.408330,49.413235,...,49.572772,49.603656,49.622729,49.632810,49.636544,49.637919,49.639753,49.642286,NaN,NaN
237,Tonga,TON,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,49.236963,49.190436,49.141900,49.092016,49.038328,48.987440,...,49.929533,49.917414,49.912034,49.894721,49.882744,49.873322,49.858980,49.846898,NaN,NaN
238,South Asia (IDA & IBRD),TSA,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,48.253631,48.247719,48.242960,48.239245,48.236371,48.234182,...,48.389546,48.400192,48.409755,48.418608,48.427050,48.435392,48.443874,48.452547,NaN,NaN
239,Sub-Saharan Africa (IDA & IBRD countries),TSS,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,50.464464,50.459177,50.453414,50.446950,50.439535,50.431046,...,50.213376,50.203937,50.192706,50.180076,50.166830,50.153909,50.141950,50.131099,NaN,NaN
240,Trinidad and Tobago,TTO,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,49.819501,49.864506,49.922332,49.987340,50.054469,50.118203,...,50.491212,50.509641,50.532517,50.559191,50.590024,50.623443,50.658780,50.696391,NaN,NaN
241,Tunisia,TUN,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,50.142364,50.074045,49.987834,49.898861,49.826987,49.783779,...,50.373148,50.412286,50.454283,50.496984,50.536789,50.568701,50.589609,50.598597,NaN,NaN
242,Turkey,TUR,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,50.158458,50.185951,50.210639,50.232827,50.252825,50.270875,...,50.822408,50.828543,50.832700,50.835009,50.833264,50.824750,50.808273,50.782497,NaN,NaN
243,Tuvalu,TUV,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,Tanzania,TZA,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,51.014740,50.995103,50.975898,50.956905,50.938037,50.919072,...,50.661825,50.650142,50.638326,50.625620,50.611994,50.597174,50.581104,50.563975,NaN,NaN
245,Uganda,UGA,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,50.291851,50.298124,50.303336,50.307175,50.309442,50.309880,...,50.369362,50.345067,50.325227,50.309125,50.296049,50.284883,50.274873,50.265934,NaN,NaN
246,Ukraine,UKR,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,55.389156,55.273768,55.178854,55.097550,55.020178,54.940070,...,53.815207,53.842652,53.851828,53.844828,53.826926,53.806153,53.788571,53.775999,NaN,NaN
247,Upper middle income,UMC,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,49.701963,49.720728,49.724725,49.717097,49.711329,49.706735,...,49.578710,49.579317,49.578080,49.575840,49.573090,49.570675,49.569275,49.568853,NaN,NaN
248,Uruguay,URY,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,49.962933,50.003655,50.040228,50.074399,50.107001,50.138725,...,51.777707,51.778455,51.775891,51.769353,51.759165,51.746121,51.730338,51.712276,NaN,NaN
249,United States,USA,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,50.460610,50.478671,50.494148,50.510204,50.530826,50.558432,...,50.617738,50.606865,50.593428,50.577921,50.561306,50.545004,50.530032,50.516619,NaN,NaN
250,Uzbekistan,UZB,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,51.974824,51.918210,51.855545,51.789213,51.722104,51.656272,...,50.278129,50.262621,50.245598,50.227302,50.208743,50.191201,50.175525,50.162066,NaN,NaN
251,St. Vincent and the Grenadines,VCT,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,53.118784,53.143567,53.178447,53.200589,53.203644,53.175379,...,49.499323,49.503248,49.512059,49.518452,49.526649,49.531822,49.546866,49.557659,NaN,NaN
252,"Venezuela, RB",VEN,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,49.036517,49.054284,49.071809,49.089339,49.107422,49.126258,...,50.054430,50.081287,50.108223,50.135090,50.161675,50.187673,50.212947,50.237377,NaN,NaN
253,British Virgin Islands,VGB,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,Virgin Islands (U.S.),VIR,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,50.423997,50.338765,50.240594,50.134061,50.057776,49.986063,...,52.056351,52.142292,52.201270,52.238665,52.258138,52.274219,52.298166,52.316315,NaN,NaN
255,Vietnam,VNM,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,50.670901,50.666893,50.662945,50.659795,50.658157,50.658634,...,50.651829,50.625267,50.602133,50.581903,50.564434,50.549152,50.535656,50.524128,NaN,NaN
256,Vanuatu,VUT,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,48.386945,48.496286,48.616519,48.703545,48.707177,48.585160,...,49.189512,49.231941,49.266962,49.292269,49.314630,49.335517,49.355449,49.378155,NaN,NaN
257,World,WLD,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,49.984651,49.981502,49.971197,49.955995,49.942284,49.929922,...,49.588892,49.582930,49.577095,49.572322,49.568240,49.564581,49.561347,49.558391,NaN,NaN
258,Samoa,WSM,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,49.240639,49.283338,49.313791,49.323787,49.319055,49.293303,...,48.392560,48.416530,48.430756,48.431529,48.428088,48.420346,48.414435,48.408042,NaN,NaN
259,Kosovo,XKX,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,49.943631,49.976419,50.006531,50.041296,50.089811,50.157903,...,49.472281,49.470523,49.468900,49.467514,49.467001,49.467983,49.470856,49.475756,NaN,NaN
261,South Africa,ZAF,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,50.003729,50.026294,50.047018,50.063428,50.072531,50.072898,...,50.902068,50.897816,50.893992,50.890892,50.889663,50.891637,50.897604,50.907902,NaN,NaN
262,Zambia,ZMB,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,50.329393,50.330753,50.330311,50.329074,50.327155,50.324941,...,50.449689,50.438425,50.426106,50.413427,50.401473,50.391688,50.384766,50.380839,NaN,NaN
263,Zimbabwe,ZWE,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,50.142620,50.141109,50.139520,50.138370,50.138998,50.141875,...,51.294148,51.305898,51.318956,51.331370,51.340396,51.342298,51.334997,51.318265,NaN,NaN

In [393]:
china_fpop_data = fpop_data[fpop_data["Country Name"]=="China"]
display(china_fpop_data)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
38,China,CHN,"Population, female (% of total)",SP.POP.TOTL.FE.ZS,48.455259,48.483384,48.507863,48.530101,48.551994,48.574605,...,48.539455,48.528802,48.517716,48.506571,48.495959,48.48666,48.479223,48.473819,NaN,NaN

In [394]:
fpop_a = china_fpop_data.iloc[:,4:23]
fpop_a.index = [0]
fpop_b = china_fpop_data.iloc[:,23:len(china_fpop_data.columns)-2]
fpop_b.index=[0]

In [395]:
china_fpop_a = new_df(fpop_a,"Female Population (% of total population)")
china_fpop_b = new_df(fpop_b,"Female Population (% of total population)")
china_fpop_a = china_fpop_a.reindex()
display(china_fpop_a)

    Year  Female Population (% of total population)
0   1960                                  48.455259
1   1961                                  48.483384
2   1962                                  48.507863
3   1963                                  48.530101
4   1964                                  48.551994
5   1965                                  48.574605
6   1966                                  48.598228
7   1967                                  48.621845
8   1968                                  48.643715
9   1969                                  48.661752
10  1970                                  48.674797
11  1971                                  48.682834
12  1972                                  48.686803
13  1973                                  48.687778
14  1974                                  48.687138
15  1975                                  48.685912
16  1976                                  48.684211
17  1977                                  48.682023
18  1978                                  48.680015

In [408]:
new_fpop_a = pd.DataFrame(columns=["Year","Female Population (% of total population)"])
new_fpop_a["Year"] = pd.Series([str(i) for i in list(range(1941,1979))])
new_fpop_a["Female Population (% of total population)"]= china_fpop_a["Female Population (% of total population)"]
new_fpop_a["Female Population (% of total population)"] = new_fpop_a["Female Population (% of total population)"].shift(19)
new_fpop_a.fillna(method='bfill',inplace=True)
#fillna((china_gdp.loc[(china_gdp["Year"]<1940)&(china_gdp["Year"]>1928),"Real GDP per capita"].values.mean()),inplace=True)
display(new_fpop_a)

    Year  Female Population (% of total population)
0   1941                                  48.455259
1   1942                                  48.455259
2   1943                                  48.455259
3   1944                                  48.455259
4   1945                                  48.455259
5   1946                                  48.455259
6   1947                                  48.455259
7   1948                                  48.455259
8   1949                                  48.455259
9   1950                                  48.455259
10  1951                                  48.455259
11  1952                                  48.455259
12  1953                                  48.455259
13  1954                                  48.455259
14  1955                                  48.455259
15  1956                                  48.455259
16  1957                                  48.455259
17  1958                                  48.455259
18  1959                                  48.455259
19  1960                                  48.455259
20  1961                                  48.483384
21  1962                                  48.507863
22  1963                                  48.530101
23  1964                                  48.551994
24  1965                                  48.574605
25  1966                                  48.598228
26  1967                                  48.621845
27  1968                                  48.643715
28  1969                                  48.661752
29  1970                                  48.674797
30  1971                                  48.682834
31  1972                                  48.686803
32  1973                                  48.687778
33  1974                                  48.687138
34  1975                                  48.685912
35  1976                                  48.684211
36  1977                                  48.682023
37  1978                                  48.680015

In [409]:
china_grp_a = pd.merge(china_grp_a,new_fpop_a)
display(china_grp_a)

,Year,Population Annual % Growth,Avg Real GDP per capita,Female Population (% of total population)
0,1941,0.632820,962.5,48.455259
1,1942,0.632847,962.5,48.455259
2,1943,0.633039,962.5,48.455259
3,1944,0.632824,962.5,48.455259
4,1945,0.632776,962.5,48.455259
5,1946,0.632890,962.5,48.455259
6,1947,0.632792,962.5,48.455259
7,1948,0.632854,962.5,48.455259
8,1949,-1.119744,962.5,48.455259
9,1950,2.758691,757.0,48.455259
10,1951,1.147476,899.0,48.455259
11,1952,2.099467,989.0,48.455259
12,1953,2.285933,1098.0,48.455259
13,1954,2.500170,989.0,48.455259
14,1955,1.961139,1062.0,48.455259
15,1956,2.101618,1101.0,48.455259
16,1957,2.109682,1103.0,48.455259
17,1958,2.111987,1073.0,48.455259
18,1959,2.110343,988.0,48.455259
19,1960,1.832868,923.0,48.455259
20,1961,-1.015528,799.0,48.483384
21,1962,0.820456,866.0,48.507863
22,1963,2.457647,950.0,48.530101
23,1964,2.320683,1050.0,48.551994
24,1965,2.381368,1134.0,48.574605
25,1966,2.787332,1147.0,48.598228
26,1967,2.570698,1151.0,48.621845
27,1968,2.610903,1093.0,48.643715
28,1969,2.740002,1172.0,48.661752
29,1970,2.761676,1291.0,48.674797
30,1971,2.746916,1355.0,48.682834
31,1972,2.457357,1307.0,48.686803
32,1973,2.283395,1372.0,48.687778
33,1974,2.065955,1378.0,48.687138
34,1975,1.766392,1425.0,48.685912
35,1976,1.547338,1384.0,48.684211
36,1977,1.362779,1413.0,48.682023
37,1978,1.338182,1583.0,48.680015

In [410]:
china_grp_b = pd.merge(china_grp_b,china_fpop_b)
display(china_grp_b)

,Year,Population Annual % Growth,Avg Real GDP per capita,Female Population (% of total population)
0,1979,1.333928,1648,48.678931
1,1980,1.254221,1690,48.679222
2,1981,1.280952,1675,48.681131
3,1982,1.472675,1826,48.684381
4,1983,1.444950,1907,48.688256
5,1984,1.312069,2120,48.691766
6,1985,1.361699,2310,48.694197
7,1986,1.487399,2409,48.695507
8,1987,1.603605,2510,48.695860
9,1988,1.610071,2571,48.695062
10,1989,1.533170,2509,48.692929
11,1990,1.467303,2460,48.689410
12,1991,1.364434,2550,48.684219
13,1992,1.225536,2731,48.677543
14,1993,1.149619,2997,48.670334
15,1994,1.130261,3135,48.663850
16,1995,1.086509,3302,48.658882
17,1996,1.048142,3494,48.655872
18,1997,1.023450,3540,48.654311
19,1998,0.959550,3554,48.652893
20,1999,0.865851,3765,48.649823
21,2000,0.787957,4071,48.643896
22,2001,0.726381,4400,48.634711
23,2002,0.670000,4793,48.622855
24,2003,0.622861,5122,48.609329
25,2004,0.593933,5595,48.595570
26,2005,0.588125,6338,48.582613
27,2006,0.558374,6937,48.570841
28,2007,0.522272,7482,48.560000
29,2008,0.512387,7741,48.549736
30,2009,0.497381,8394,48.539455
31,2010,0.482960,9475,48.528802
32,2011,0.479150,10221,48.517716
33,2012,0.487231,10654,48.506571
34,2013,0.493710,11088,48.495959
35,2014,0.506312,11708,48.486660
36,2015,0.508137,12002,48.479223
37,2016,0.541479,12320,48.473819

Sources:
1. https://data.worldbank.org/indicator/SP.POP.GROW?end=2016&start=1960&view=chart (Population Growth)
2. https://data.worldbank.org/indicator/SP.POP.TOTL.FE.ZS (Female % of total population)
3. http://www.populstat.info/Asia/chinac.htm (China population 1941 to 1959)
4. https://ourworldindata.org/economic-growth (Average Real GDP per capita, 2011 benchmark)